<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Ammal Foundation</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="index.html">
          <!-- choose logo and change-->
          <img id ="logo" src="amalimages/Untitled design-6.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active">
            Home
          </a>
          <a class="navbar-item" href="mosque.html">
            Mosque Finder
          </a>
          <a class="navbar-item" href="prayer.html">
            Prayer Times
          </a>
          <a class="navbar-item" href="halalFood.html">
            Halal Food Finder
          </a>
          <a class="navbar-item" href="stats.html">
            Learn More
          </a>
          <a class="navbar-item" href="translate.html">
            Translate/ترجم
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column has-text-centered">
          <section class="hero is-small is-info">
  <div class="hero-body">
    <a id="translateLink" href="translate.html">كيف يمكنني مشاهدة هذا الموقع باللغة العربية؟ انقر فوق لي! (How can I view this site in Arabic? Click me!)</a>
  </div>
</section>
          <br>
          <h1 class="title" style="color: ghostwhite;">The Ammal Foundation</h1><br>
          <h2 class="welcome subtitle">!السلام عليكم</h2>
          <h2 class="welcome subtitle">Welcome!</h2>
        </div>
      </div>
      <div id="app" class="row columns is-multiline">
        <div v-for="card in cardData" key="card.id" class="column is-4">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="https://mosqpedia.org/img/cache/largeimage/E7zPkew893EjHLpgd8S8lXYeLFWZprVakCqKBTFl" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src= "https://cdn-icons-png.flaticon.com/512/2319/2319870.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4 no-padding">Mosque Finder</p>
                  <p>
                    <span class="title is-6">
                      <a href="mosque.html">Click to find a Mosque near you!</a></span>
                  </p>
                </div>
              </div>
              <div class="content">
                Finds the mosque closest to the user's location.
              </div>
            </div>
          </div>
        </div>
        <div v-for="card in cardData" key="card.id" class="column is-4">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="https://www.islam21c.com/wp-content/uploads/PRAYER-TIMES.png" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://cdn-icons-png.flaticon.com/512/3858/3858880.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4 no-padding">Prayer Times</p>
                  <p>
                    <span class="title is-6">
                      <a href="prayer.html">Click to view prayer times based on your location!</a></span>
                  </p>
                </div>
              </div>
              <div class="content">
                Retrieves Islamic prayer times based on the user's location.
              </div>
            </div>
          </div>
        </div>
        <div v-for="card in cardData" key="card.id" class="column is-4">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="https://media.istockphoto.com/vectors/halal-food-set-on-top-view-wooden-table-background-vector-id1249703057?k=20&m=1249703057&s=612x612&w=0&h=oOp-A5Hd8DI_pjShITi2J5x2UEyYrT_KPvYXzDKUQKg=" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://cdn-icons-png.flaticon.com/512/3165/3165146.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4 no-padding">Halal Food Finder</p>
                  <p>
                    <span class="title is-6">
                      <a href="halalFood.html">Click to view halal food in your area!</a></span>
                  </p>
                </div>
              </div>
              <div class="content">
                Locates halal restaurants in the user's city. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>










  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="soc">
          <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        </div>
        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
          The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
      </div>
      <div id="attribution" class="content has-text-centered">
      <p>Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="www.flaticon.com"> www.flaticon.com </a></p>
    </div>
  </footer>

  <script src="cardsData.js"></script>

</body>

</html>